include README.md
include LICENSE
include examples/SimCenter/DL_calculation.py
recursive-include resources *.json *.xlsx
recursive-include pelicun/tests/resources *.*
exclude pelicun/lab.py
exclude pelicun/tests/EDP?data/EDP_table_test_H01.out
exclude pelicun/tests/input?data/DL_input_test_FULL.json
exclude pelicun/tests/input?data/DL_input_test_H01.json