General
-------

**Ability to determine damage and loss calculations for a building subjected to a natural hazard including formal treatment of randomness and uncertainty uncertainty**


.. csv-table:: Requirements - General
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-general.csv


Hazard
------

**Various Motion Selection Options for Hazard Event**


.. csv-table:: Requirements - Hazard 
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-hazard.csv


Building Model
--------------

**Building Model Generation**


.. csv-table:: Requirements - Building Model
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-model.csv

Analysis
--------------

**Perform Nonlinear Analysis**

.. csv-table:: Requirements - Analysis
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-analysis.csv

Uncertainty Quantification
---------------------------

**Uncertainty Quantification Methods**

.. csv-table:: Requirements - Uncertainty Quantification
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-uq.csv

Random Variables
-----------------

**Random Variables for Uncertainty Quantification**

.. csv-table:: Requirements - Random Variables
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-rv.csv

Engineering Demand Parameters
------------------------------

** **

.. csv-table:: Requirements -Engineering Demand Parameters
  :header: "#", "Description", "Source", "Priority", "Version"
  :widths: 1, 96, 1, 1, 1
  :file: requirements-edp.csv

.. only:: PBE_app

  .. include:: requirements-DL.rst